/*
  Blueprint and simplify every object
*/
.x-debug-css :not(g):not(path)  {
  color:                 hsla(210, 80%, 100%, 0.9) !important;
  background:            hsla(210, 80%,  50%, 0.5) !important;
  outline: solid 0.125rem hsla(210, 80%, 100%, 0.5) !important;
  box-shadow: none !important;
  filter:     none !important;
}

/*
  Red Outline every object
*/
.x-debug-css-outlined :not(g):not(path)
{
  outline: 1px solid red !important;;
  box-shadow: none !important;
  filter:     none !important;
}
